{# 
    @author Adrian Ionescu, adi8i
    http://www.adriandev.com/
    https://github.com/adi8i
#}

{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="ai-button-particle">
        {% for button in particle.buttons %}
            <a href="{{ button.url }}" target="{{ button.target|default('_self') }}" title="{{ button.text }}" class="{{ button.style|default('button-border') }}">{{ button.text }}</a>
        {% endfor %}
    </div>
{% endblock %}
