{# 
    @author Adrian Ionescu, adi8i
    http://www.adriandev.com/
    https://github.com/adi8i
#}

{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
    <div class="ai-image">
        {% for item in particle.items %}
        
            {% set image = url(item.image) %}
            {% set link = item.link|e %}
            {% set target = item.target %}
            
            {% if image and link %}
                <a href="{{ link }}" target="{{ target }}"><img class="ai-image-img" src="{{ image }}" alt="{{ item.title }}" /></a>
            {% elseif image %}
                <img class="ai-image-img" src="{{ image }}" alt="{{ item.title }}" />
            {% endif %}
            
        {% endfor %}
    </div>
{% endblock %}
